$main_gradient:(
  "main":linear-gradient(90deg, rgba(58,142,180,1) 0%, rgba(70,175,223,1) 44%, rgba(82,198,251,1) 95%),
  "R_L":linear-gradient(90deg, rgba(82,198,251,1) 0%, rgba(70,175,223,1) 61%, rgba(69,170,217,1) 96%),
  "L_R":linear-gradient(60deg, rgba(66,159,201,1) 8%, rgba(70,175,223,1) 43%, rgba(82,198,251,1) 91%),
  "vert":linear-gradient(0deg, rgba(107,176,215,1) 4%, rgba(106,175,214,1) 12%, rgba(107,175,215,1) 28%, rgba(127,189,224,1) 48%, rgba(152,207,237,1) 71%, rgba(175,223,249,1) 87%),
  "test":linear-gradient(90deg, rgba(107,176,215,1) 4%, rgba(106,175,214,1) 12%, rgba(107,175,215,1) 28%, rgba(127,189,224,1) 48%, rgba(152,207,237,1) 71%, rgba(175,223,249,1) 87%)
  );
$dark:#3c4a61;
$bg_dark:#526585;
$img:300px;
