@import "_variables";

aside{
  display: flex;
  float:left;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 15%;
  background:map-get($main_gradient,"vert");
  div,nav{
    color:white;
    li{
      list-style:none;
    }
  }
  div{
    text-align: center;
  }
}
