@import "_variables";


.admin-main{
  display: flex;
  flex-wrap: wrap;
  margin: 10% auto;
  justify-content: space-between;
  height: 100%;
  width: auto;
  padding: 5%;
  .box{
    display: flex;
    justify-content: space-between;
    border:2px solid $dark;
    padding: 20px;
    border-radius: 50px;
    color: $dark;
    width: 70%;
    .right{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      h1,h4{
        text-align: center;
      }
    }
  }
}

table{
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
  th{
    background: map-get($main_gradient,"test");
    color:white;
    text-align: center;
  }
  td{
    margin: 2%;
  }
  tr,th{
    border-bottom: 1px solid (linear-gradient(90deg, rgba(107,176,215,1) 4%, rgba(106,175,214,1) 12%, rgba(107,175,215,1) 28%, rgba(127,189,224,1) 48%, rgba(152,207,237,1) 71%, rgba(175,223,249,1) 87%));
  }
  tr{
    color:$dark;
  }
}

.adminSide{
  display: flex;
  float:left;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 15%;
  background:map-get($main_gradient,"vert");
  div,nav{
    color:white;
    width: 100%;
    li{
      list-style:none;
      margin-bottom: 30%;
    }
  }
  div{
    text-align: center;
  }
  nav{
    width: 100%;
    display: flex;
    text-align: center;
    margin-top: 30%;
  }
  form{
    p{
      color:white;
    }
  }
}
