header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: map-get($main_gradient,"main");
  width: 100%;
  color: white;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  overflow: hidden;
  position: relative;
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    li {
      list-style-type: none;
      float:left;
      text-align: center;
      margin-left:10%;
      a{
        display: block;
      }
    }
  }

  .circle1{
    top:30%;
  }
  .circle3{
    left:70%;
  }
}

.head-middle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  white-space: normal;
  p{
    text-align: center
  }
}

.header-btn{
  width: 50%;
  margin-left: 14%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: inline-block;
}

.mainImg{
  margin-top: 10%;
  margin-left: 5%;
}

.hidden-icon{
  display: none;
}
