@media screen and (max-width: 1000px) {

	.custAcc{
		display: flex;
		width: 100%!important;
		margin-top: 5%!important;
			.accDet{
				width: 100%!important;
				margin: 10%!important;
				section{
					flex-direction: column;
					p{
						width: 100%;
						text-align: center;
					}
					img{
						width: 180px!important;
						margin-left: 30%;
						float: none;
					}
				}
			}
	}

	.delivery-reg{
		margin-top: 5%!important;
		margin-left: 15%!important;
		width: 100%!important;
		margin-bottom: 2%!important;
	}
	.delivery-img{
		margin-right: 0;
		img{
			max-width: 300px!important;
			margin-top: 5%;
			margin-left: 5%;
		}
	}

	.stepContainer{
		flex-direction: column!important;
		.step{
			margin: 3%!important;
		}
	}

	.content{
		flex-direction: column!important;
	}

	.content{
		.mainImg{
			img{
				width: 300px!important;
			}
		}
		.mainImgText{
			text-align: center!important;
			margin:10%;
			button{
				float:none!important;
				width: 80%!important;
			}
		}
	}

	header{
		flex-direction: row!important;
		position:fixed;
		.head-middle{
			align-items: flex-start;
			width:100%;
			margin-left: 5%;
			z-index: 3;
			p,ul{
				display: none;
			}
		}
		.header-btn{
			display: none!important;
		}

		.hidden-icon{
			display: block;
			float: right;
			margin-right: 5%;
			z-index: 3;
			i{
				color: white;
				font-size: 18px;
			}
			a{
				float:right;
				display:block;
			}
		}
	}

	.main_Login{
		align-items: center;
		justify-content: center;
		width: 100% !important;
		padding: 0;
		height: 100%!important;
		margin-top: 5%!important;
		background-color: rgba(0,0,0,0.5)!important;
		.registration{
			width: 100%;
			z-index: 3;
			margin:0 !important;
			padding: 0;
		}
		.reg_image{
			img{
				display: none;
			}
		}
	}

	.reg_main {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40px;
		height: 100%;
		padding: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90%;
		background: rgba(255,255,255,0.1);
		right: 50%;
		white-space: nowrap;
		margin-left: 3%;
		margin-top: 30%;
		.reg_text {
			display: none;
		}
		.reg_image {
			>img {
				display: none;
			}
		}
	}
	.registration {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 40px;
		height: 100%;
		padding: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		border-radius: 40px;
		padding: 2%;
		background: rgba(255,255,255,0.05);
		z-index: 3;
		#unameLogin,#passLogin{
			input{
				width:200px;
			}
		}
	}

	.main_land {
		flex-direction: row!important;
		height: 100%!important;
		width: auto;
		margin-top: 10%;
	}
	.text {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		flex: 100%;
		justify-content: center;
		align-items: center;
		z-index: 2;
		>button {
			z-index: 3;
			width: 100%;
		}
	}
	.landingImg {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		flex: 100%;
		justify-content: center;
		align-items: center;
		z-index: 2;
		>img {
			z-index: 1;
			max-width: 100%;
			max-height: 100%;
		}
	}
}
